body {
  color: white;
  background-color: white;
  margin: 0;
}
.header-title {
  color: white;
  font-size: 24px;
  font-weight: 200;
  font-style: normal;
  padding: 10px 30px 15px 0;
  text-align: center;
  margin: 0;
}
.header {
  background: mediumpurple;
  height: 49px;
}
.text-style {
  color: #6b9dc8;
  margin: 20px 10px 10px 10px;
  font-weight: 200;
}
.button-style {
  margin-left: 13em;
  margin-top: 50px;
  background: transparent;
  border: transparent;
}
.icon-style {
  width: 50px;
}
.menu-icon-style {
  width: 30px;
  float: left;
  padding: 10px 0 0 5px;
}

